.Title {
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffd166;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  &::before {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #06d69ea1;
    width: 6rem;
    height: 0.4rem;
    border-radius: 50px;
    
  }
  &::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #06d6a0;
    width: 3rem;
    height:.3rem;
    border-radius: 50px;
  }
  span {
    position: absolute;
    top: 15%;
    left: 0;
    font-size: 5rem;
    opacity: 0.08;
  }
}
